[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/SDL3"]
	path = third_party/SDL3
	url = https://github.com/libsdl-org/SDL.git
